USE [FAP_Project]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[art_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](500) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[author_name] [nvarchar](50) NULL,
	[upload_time] [datetime] NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[art_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON
INSERT [dbo].[Article] ([art_id], [title], [content], [author_name], [upload_time]) VALUES (2, N'TB lich bao ve KLTN ky SU19 nganh GD', N'- Thời gian (01 ngày): Ngày 30/8/2019', N'PhuongLTM', CAST(0x0000AB0100C5C100 AS DateTime))
INSERT [dbo].[Article] ([art_id], [title], [content], [author_name], [upload_time]) VALUES (5, N'TB lịch bảo vệ KLTN kỳ SU19 ngành BA ngày 05/9', N'Phòng Tổ chức và Quản lý đào tạo thông báo kế hoạch bảo vệ khóa luận tốt nghiệp Học kỳ Summer 2019 chuyên ngành Quản trị kinh doanh (BA) như sau:', N'PhuongLTM', CAST(0x0000AB0100C5C100 AS DateTime))
INSERT [dbo].[Article] ([art_id], [title], [content], [author_name], [upload_time]) VALUES (8, N'
FU-HL: Thông báo lịch thi cuối kỳ lần 1 và lần 2 các môn Cờ Part 2 HK Summer 2019.', N'Phòng khảo thí thông báo đã có lịch thi cuối kỳ lần 1 và lần 2 các môn COV111, COV121, COV131. Các em đăng nhập fap.fpt.edu.vn (phần View exam schedule (Xem lịch thi) ) để xem lịch thi và phòng thi lần 1 của mình.', N'PhuongLTM', CAST(0x0000AB0100C5C100 AS DateTime))
SET IDENTITY_INSERT [dbo].[Article] OFF
/****** Object:  Table [dbo].[Parent]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parent](
	[parent_id] [int] IDENTITY(1,1) NOT NULL,
	[parent_name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[address] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Parent] PRIMARY KEY CLUSTERED 
(
	[parent_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Parent] ON
INSERT [dbo].[Parent] ([parent_id], [parent_name], [phone], [address]) VALUES (1, N'Nguyễn Văn A', N'023154669', N'Hà Nội')
INSERT [dbo].[Parent] ([parent_id], [parent_name], [phone], [address]) VALUES (2, N'Nguyễn Thị B', N'069856335', N'Hà Nội')
INSERT [dbo].[Parent] ([parent_id], [parent_name], [phone], [address]) VALUES (3, N'Hoàng Đức C', N'031655298', N'Hải Dương')
SET IDENTITY_INSERT [dbo].[Parent] OFF
/****** Object:  Table [dbo].[Lecturer]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[short_name] [nvarchar](100) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[img] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Lecturer] PRIMARY KEY CLUSTERED 
(
	[short_name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Lecturer] ([short_name], [name], [email], [img]) VALUES (N'BanTQ', N'Trần Quý Ban', N'bantq3@fe.edu.vn', N'huynqhe130069.jpg')
INSERT [dbo].[Lecturer] ([short_name], [name], [email], [img]) VALUES (N'ChiLP', N'Lê Phương Chi', N'chilp2@fe.edu.vn', N'huynqhe130069.jpg')
INSERT [dbo].[Lecturer] ([short_name], [name], [email], [img]) VALUES (N'HanhVB', N'Vũ Bích Hạnh', N'hanhvb@fe.edu.vn', N'huynqhe130069.jpg')
/****** Object:  Table [dbo].[Term]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Term](
	[term_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
 CONSTRAINT [PK_Term] PRIMARY KEY CLUSTERED 
(
	[term_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Term] ON
INSERT [dbo].[Term] ([term_id], [name], [start_date], [end_date]) VALUES (1, N'FALL2019', CAST(0x1E400B00 AS Date), CAST(0x8C400B00 AS Date))
INSERT [dbo].[Term] ([term_id], [name], [start_date], [end_date]) VALUES (2, N'SUMMER2019', CAST(0xA73F0B00 AS Date), CAST(0x1B400B00 AS Date))
INSERT [dbo].[Term] ([term_id], [name], [start_date], [end_date]) VALUES (3, N'SPRING2019', CAST(0x293F0B00 AS Date), CAST(0xA43F0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Term] OFF
/****** Object:  Table [dbo].[Course]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_code] [nvarchar](50) NOT NULL,
	[course_name] [nvarchar](50) NOT NULL,
	[department] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[course_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Course] ([course_code], [course_name], [department]) VALUES (N'JPD121', N'Japanese Elementary 1.2', N'Japanese')
INSERT [dbo].[Course] ([course_code], [course_name], [department]) VALUES (N'JPD131', N'Japanese Elementary 2.1', N'Japanese')
INSERT [dbo].[Course] ([course_code], [course_name], [department]) VALUES (N'LAB221', N'Desktop Java Lab', N'Lab')
/****** Object:  Table [dbo].[CourseDetail]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_code] [nvarchar](50) NOT NULL,
	[term_id] [int] NOT NULL,
	[lecturer_shortname] [nvarchar](100) NOT NULL,
	[class] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CourseDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CourseDetail] ON
INSERT [dbo].[CourseDetail] ([id], [course_code], [term_id], [lecturer_shortname], [class]) VALUES (1, N'PRN292', 1, N'ChiLP', N'SE1310')
INSERT [dbo].[CourseDetail] ([id], [course_code], [term_id], [lecturer_shortname], [class]) VALUES (2, N'JPD131', 1, N'HanhVB', N'SE1310')
INSERT [dbo].[CourseDetail] ([id], [course_code], [term_id], [lecturer_shortname], [class]) VALUES (3, N'SWR302', 1, N'TriTD', N'SE1310')
SET IDENTITY_INSERT [dbo].[CourseDetail] OFF
/****** Object:  Table [dbo].[Exam]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_code] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[room_no] [nvarchar](50) NOT NULL,
	[time] [nvarchar](50) NOT NULL,
	[exam_form] [nvarchar](50) NOT NULL,
	[exam_name] [nvarchar](50) NOT NULL,
	[public_date] [date] NOT NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exam] ON
INSERT [dbo].[Exam] ([id], [course_code], [date], [room_no], [time], [exam_form], [exam_name], [public_date]) VALUES (2, N'PRN292', CAST(0x66400B00 AS Date), N'BE-219', N'09h10-10h40', N'Multiple choices on EOS', N'FE', CAST(0x69400B00 AS Date))
INSERT [dbo].[Exam] ([id], [course_code], [date], [room_no], [time], [exam_form], [exam_name], [public_date]) VALUES (3, N'JPD131', CAST(0x64400B00 AS Date), N'BE-207', N'13h00-15h00', N'Reading, Listening on EOS', N'FE', CAST(0x69400B00 AS Date))
INSERT [dbo].[Exam] ([id], [course_code], [date], [room_no], [time], [exam_form], [exam_name], [public_date]) VALUES (4, N'SWR302', CAST(0x67400B00 AS Date), N'BE-219', N'10h50-12h20', N'Multiple choices on EOS', N'FE', CAST(0x6C400B00 AS Date))
SET IDENTITY_INSERT [dbo].[Exam] OFF
/****** Object:  Table [dbo].[Student]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[student_code] [nvarchar](50) NOT NULL,
	[student_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[img] [nvarchar](50) NOT NULL,
	[parent_id] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[student_code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Student] ([student_code], [student_name], [email], [phone], [password], [img], [parent_id]) VALUES (N'HE130012', N'Nguyễn Văn Anh', N'anhnvhe130012@fpt.edu.vn', N'0213123312', N'123', N'huynqhe130069.jpg', 3)
INSERT [dbo].[Student] ([student_code], [student_name], [email], [phone], [password], [img], [parent_id]) VALUES (N'HE130015', N'Trần Trường Anh', N'anhtthe130015@fpt.edu.vn', N'0123456789', N'123', N'huynqhe130069.jpg', 2)
INSERT [dbo].[Student] ([student_code], [student_name], [email], [phone], [password], [img], [parent_id]) VALUES (N'HE130022', N'Phạm Quang Huy', N'huypqhe130022@fpt.edu.vn', N'0902172299', N'123', N'huynqhe130069.jpg', 2)
/****** Object:  Table [dbo].[LectureDetail]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LectureDetail](
	[id] [int] NOT NULL,
	[course_detail_id] [int] NOT NULL,
	[study_date] [date] NOT NULL,
	[slot_no] [int] NOT NULL,
 CONSTRAINT [PK__LectureD__3213E83F1CF15040] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LectureDetail] ([id], [course_detail_id], [study_date], [slot_no]) VALUES (1, 1, CAST(0x1F400B00 AS Date), 4)
INSERT [dbo].[LectureDetail] ([id], [course_detail_id], [study_date], [slot_no]) VALUES (2, 1, CAST(0x1F400B00 AS Date), 5)
INSERT [dbo].[LectureDetail] ([id], [course_detail_id], [study_date], [slot_no]) VALUES (3, 1, CAST(0x26400B00 AS Date), 4)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
/****** Object:  Table [dbo].[Exam_Student]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[exam_id] [int] NOT NULL,
	[student_code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Exam_Student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Exam_Student] ON
INSERT [dbo].[Exam_Student] ([id], [exam_id], [student_code]) VALUES (1, 2, N'HE130569')
INSERT [dbo].[Exam_Student] ([id], [exam_id], [student_code]) VALUES (2, 2, N'HE130069')
INSERT [dbo].[Exam_Student] ([id], [exam_id], [student_code]) VALUES (3, 2, N'HE130059')
SET IDENTITY_INSERT [dbo].[Exam_Student] OFF
/****** Object:  Table [dbo].[CourseStudent]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseStudent](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_detail_id] [int] NOT NULL,
	[student_code] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CourseStudent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CourseStudent] ON
INSERT [dbo].[CourseStudent] ([id], [course_detail_id], [student_code]) VALUES (1, 1, N'HE130022')
INSERT [dbo].[CourseStudent] ([id], [course_detail_id], [student_code]) VALUES (2, 1, N'HE130088')
INSERT [dbo].[CourseStudent] ([id], [course_detail_id], [student_code]) VALUES (3, 1, N'HE130069')
SET IDENTITY_INSERT [dbo].[CourseStudent] OFF
/****** Object:  Table [dbo].[Attendances]    Script Date: 11/16/2019 11:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lecture_detail_id] [int] NOT NULL,
	[student_code] [nvarchar](50) NOT NULL,
	[attendance_status] [bit] NULL,
 CONSTRAINT [PK_Attendances] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendances] ON
INSERT [dbo].[Attendances] ([id], [lecture_detail_id], [student_code], [attendance_status]) VALUES (1, 1, N'HE130022', 1)
INSERT [dbo].[Attendances] ([id], [lecture_detail_id], [student_code], [attendance_status]) VALUES (2, 1, N'HE130088', 0)
INSERT [dbo].[Attendances] ([id], [lecture_detail_id], [student_code], [attendance_status]) VALUES (3, 1, N'HE130069', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
SET IDENTITY_INSERT [dbo].[Attendances] OFF
/****** Object:  ForeignKey [FK_Attendances_LectureDetail]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_LectureDetail] FOREIGN KEY([lecture_detail_id])
REFERENCES [dbo].[LectureDetail] ([id])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_LectureDetail]
GO
/****** Object:  ForeignKey [FK_Attendances_Student]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Student] FOREIGN KEY([student_code])
REFERENCES [dbo].[Student] ([student_code])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Student]
GO
/****** Object:  ForeignKey [FK_CourseDetail_Course]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[CourseDetail]  WITH CHECK ADD  CONSTRAINT [FK_CourseDetail_Course] FOREIGN KEY([course_code])
REFERENCES [dbo].[Course] ([course_code])
GO
ALTER TABLE [dbo].[CourseDetail] CHECK CONSTRAINT [FK_CourseDetail_Course]
GO
/****** Object:  ForeignKey [FK_CourseDetail_Lecturer]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[CourseDetail]  WITH CHECK ADD  CONSTRAINT [FK_CourseDetail_Lecturer] FOREIGN KEY([lecturer_shortname])
REFERENCES [dbo].[Lecturer] ([short_name])
GO
ALTER TABLE [dbo].[CourseDetail] CHECK CONSTRAINT [FK_CourseDetail_Lecturer]
GO
/****** Object:  ForeignKey [FK_CourseDetail_Term]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[CourseDetail]  WITH CHECK ADD  CONSTRAINT [FK_CourseDetail_Term] FOREIGN KEY([term_id])
REFERENCES [dbo].[Term] ([term_id])
GO
ALTER TABLE [dbo].[CourseDetail] CHECK CONSTRAINT [FK_CourseDetail_Term]
GO
/****** Object:  ForeignKey [FK_CourseStudent_CourseDetail]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[CourseStudent]  WITH CHECK ADD  CONSTRAINT [FK_CourseStudent_CourseDetail] FOREIGN KEY([course_detail_id])
REFERENCES [dbo].[CourseDetail] ([id])
GO
ALTER TABLE [dbo].[CourseStudent] CHECK CONSTRAINT [FK_CourseStudent_CourseDetail]
GO
/****** Object:  ForeignKey [FK_CourseStudent_Student]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[CourseStudent]  WITH CHECK ADD  CONSTRAINT [FK_CourseStudent_Student] FOREIGN KEY([student_code])
REFERENCES [dbo].[Student] ([student_code])
GO
ALTER TABLE [dbo].[CourseStudent] CHECK CONSTRAINT [FK_CourseStudent_Student]
GO
/****** Object:  ForeignKey [FK_Exam_Course]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Course] FOREIGN KEY([course_code])
REFERENCES [dbo].[Course] ([course_code])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Course]
GO
/****** Object:  ForeignKey [FK_Exam_Student_Exam]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[Exam_Student]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Student_Exam] FOREIGN KEY([exam_id])
REFERENCES [dbo].[Exam] ([id])
GO
ALTER TABLE [dbo].[Exam_Student] CHECK CONSTRAINT [FK_Exam_Student_Exam]
GO
/****** Object:  ForeignKey [FK_Exam_Student_Student]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[Exam_Student]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Student_Student] FOREIGN KEY([student_code])
REFERENCES [dbo].[Student] ([student_code])
GO
ALTER TABLE [dbo].[Exam_Student] CHECK CONSTRAINT [FK_Exam_Student_Student]
GO
/****** Object:  ForeignKey [FK__LectureDe__cours__1ED998B2]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[LectureDetail]  WITH CHECK ADD  CONSTRAINT [FK__LectureDe__cours__1ED998B2] FOREIGN KEY([course_detail_id])
REFERENCES [dbo].[CourseDetail] ([id])
GO
ALTER TABLE [dbo].[LectureDetail] CHECK CONSTRAINT [FK__LectureDe__cours__1ED998B2]
GO
/****** Object:  ForeignKey [FK_Student_Parent]    Script Date: 11/16/2019 11:41:44 ******/
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Parent] FOREIGN KEY([parent_id])
REFERENCES [dbo].[Parent] ([parent_id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Parent]
GO
